@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Palette */
:root {
  --primary: #1a535c;
  --secondary: #4ecdc4;
  --tertiary: #f7fff7;
  --accent: #ff6b6b;
  --gray: #e0e0e0;
}

/* Typography */
body {
  font-family: "Roboto", sans-serif;
}

.cluster-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid red;
  cursor: pointer;
}

.mapboxgl-popup.popup {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%); /* Center the marker */
  transition: transform 0.3s; /* Add a smooth transition */
}

.marker:hover {
  transform: translate(-50%, -50%) scale(1.5); /* Scale the marker on hover */
}
